<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<h1>User After Login: Home Page</h1>
		<h1>Name			: [[${user.fullName}]]</h1>
		<h1>Email			: [[${user.email}]]</h1>
		<h1>Mobile Number	: [[${user.mobileNumber}]]</h1>
		<br><br>
		<form action="/user/buyStock" method="post">
		    <input type="text" name="symbol" placeholder="Stock Symbol (e.g., AAPL)">
		    <input type="number" name="quantity" placeholder="Quantity">
		    <button type="submit">Buy Stock</button>
		</form>
		<br><br>
		<a href="/user/portfolio" class="btn btn-info">Portfolio</a>
		<a href="/logout">Logout</a>
	</section>

</body>
</html>