<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{starting_base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Stock Market</title>
</head>
<body>
    <section  class="custom-container">
        <div class="container p-5">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card shadow-lg border-0 rounded-lg">
                        <div class="card-header text-center bg-gradient-primary text-black fs-3 py-4">
                            <i class="fas fa-chart-line"></i> Login
                        </div>
                        
                        <div th:if="${param.error}" class="alert alert-danger mt-3 mx-3">
                            [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
                        </div>
                        
                        <div th:if="${param.logout}" class="alert alert-success mt-3 mx-3">
                            Logout Successfully
                        </div>
                        
                        <div class="card-body p-5">
                            <form action="/login" method="post">
                                <div class="mb-4">
                                    <!-- <label for="username" class="form-label">Email</label> -->
                                    <div class="input-group">
                                        <span class="input-group-text bg-light"><i class="fas fa-envelope"></i></span>
                                        <input type="text" id="username" name="username" class="form-control" placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <!-- <label for="password" class="form-label">Password</label> -->
                                    <div class="input-group">
                                        <span class="input-group-text bg-light"><i class="fas fa-lock"></i></span>
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary w-100 py-2">Login</button>
                            </form>
                            <div class="text-center mt-2">
                            	<p class="sign-in-text text-center"><a href="/register" class="text-decoration-none">Register here</a></p>
                                <p class="sign-in-text text-center"><a href="loadForgotPassword" class="text-decoration-none">Forgot Password?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>